{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container py-5">
        <div class="jumbotron">
          <h1>Rishop</h1>
          <p>A retail store that sells various necessities, accessories, electronics and fashion</p>
          <p><a class="btn btn-primary btn-large" href="{% url 'store:home' %}">Shopping »</a> <a class="btn btn-outline-primary btn-large" href="mailto:mr.danangharissetiawan@gmail.com">Contact Me »</a></p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="card mb-4" id="headings">
              <div class="card-header">Contact Me</div>
                <div class="card-body">
              <address>
                  <strong>Rishop, Inc.</strong>
                  <br> Gemulung RT 004/RW 001, Kerek<br> Tuban Jatim, ID 62356<br><abbr title="Phone">P:</abbr> (62) 812-5214-6881</address>
                <address class="col-6"><strong>Full Name</strong><br><a href="mailto:support@darisset.com">support@darisset.com</a></address>
                </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card mb-4" id="content-formatting">
              <div class="card-header">Retail Location</div>
                <div class="card-body">
                    <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=risset%20social&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:400px;width:400px;}</style><a href="https://www.embedgooglemap.net">embed google maps wordpress</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:400px;}</style></div></div>
                </div>
            </div>
          </div>
        </div>
    </div>


{% endblock content %}
